* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(8, 32, 43);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.f1 {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 600px;
  background-color: beige;
  border-radius: 2%;
  padding: 0.8%;
  gap: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
  width: 300px;
  height: 200px;
  /* justify-content: center;  */
  flex-direction: column;
}


.form-rowP {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
  width: 200px;
  height: 200px;
  /* justify-content: center;  */
  flex-direction: column;
}


.amount-input,
.amount-inputER {
  background-color: beige;
  border: none;
  border-bottom: 1px solid #999;
  height: 22px;
  font-weight: 800;
}

.amount-input {
  width: 150px;
}

.amount-inputER {
  width: 30px;
}

.amount-input,.amount-inputER:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #333;
}

.form-label {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 350;
  font-weight:525;
  color: #666;
}

#unit{
    font-weight: bold;
}

.slider{
  width: 240px;
}
.sliderPer{
  width: 180px;
}

