* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(8, 32, 43);
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bold; font-size: 16px; 
  font-family: proxima-nova-semibold, sans-serif; 
  color: black;
}


.amount-input,
.amount-inputER {
  background-color: beige;
  border: none;
  border-bottom: 1px solid #999;
  height: 22px;
  font-weight: 800;
}

.amount-input {
  width: 150px;
}

.amount-inputER {
  width: 30px;
}

.amount-input,.amount-inputER:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #333;
}

.form-label {
  font-weight: bold; font-size: 16px; 
  font-family: proxima-nova-semibold, sans-serif; 
  color: #666;
}

#unit{
    font-weight: bold;
}

.slider{
  width: 240px;
  height: 5px
}
.sliderPer{
  width: 180px;
  height: 5px
}
.sliderIn{
  width: 123px;
  height: 5px
}

 
